In [2]:
from sklearn import datasets
import pandas as pd

In [3]:
iris = datasets.load_iris()

In [4]:
df = pd.DataFrame(iris.data)

In [5]:
df.head()

     0    1    2    3
0  5.1  3.5  1.4  0.2
1  4.9  3.0  1.4  0.2
2  4.7  3.2  1.3  0.2
3  4.6  3.1  1.5  0.2
4  5.0  3.6  1.4  0.2

In [6]:
print(iris.feature_names)

['sepal length (cm)', 'sepal width (cm)', 'petal length (cm)', 'petal width (cm)']

In [7]:
print(iris.target)
iris.target.shape

[0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 2 2 2 2 2 2 2 2 2 2 2
 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2
 2 2]

(150,)

In [8]:
df.columns = iris.feature_names

In [9]:
df.describe()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm)
count,150.000000,150.000000,150.000000,150.000000
mean,5.843333,3.054000,3.758667,1.198667
std,0.828066,0.433594,1.764420,0.763161
min,4.300000,2.000000,1.000000,0.100000
25%,5.100000,2.800000,1.600000,0.300000
50%,5.800000,3.000000,4.350000,1.300000
75%,6.400000,3.300000,5.100000,1.800000
max,7.900000,4.400000,6.900000,2.500000

In [10]:
df.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

In [11]:
from sklearn import cross_validation as cv

/home/rattandeep/anaconda/lib/python3.6/site-packages/sklearn/cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [12]:
from sklearn.linear_model import LinearRegression

In [13]:
X_train , X_test , Y_train , Y_test = cv.train_test_split(df , iris.target , test_size = 0.2)

In [14]:
clf = LinearRegression()

In [16]:
clf.fit(X_train , Y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [18]:
clf.intercept_

0.2304474106572616

In [19]:
clf.coef_

array([-0.09886281, -0.06157631,  0.19161213,  0.66729707])

In [20]:
clf.score(X_test , Y_test)

0.92680459225027811

#### FINISHED LINEAR REGRESSION HERE

In [21]:
iris.target_names

array(['setosa', 'versicolor', 'virginica'],
      dtype='<U10')

#### Since it is a classification problem, we can calculate accuracy here.

#### We will calculate accuracy here.
We will convert to classes on the basis of prediction.
<br>
less than 0.5 - classify them as 0
<br>
0.5 to 0.7 - classify them as 1
<br>
0.7 to 1 - classify them as 2

In [22]:
predictions = clf.predict(X_test)
print(predictions)

[-0.11036652  0.18243439 -0.09071904 -0.12092471  1.70261091 -0.08382498
  1.37266216 -0.06223479  1.76314732  0.09322412 -0.09128228  1.73587333
  1.56595723  0.10027212  1.41336546 -0.01341473  1.17901112  1.51293186
  1.00107165  1.64078445  1.58268946  2.22232529  1.27870259  0.04156578
 -0.00855677 -0.04113087 -0.0677041   1.08772786 -0.04869683 -0.02082392]

In [23]:
Y_test

array([0, 0, 0, 0, 2, 0, 1, 0, 2, 0, 0, 2, 2, 0, 2, 0, 1, 2, 1, 2, 2, 2, 1,
       0, 0, 0, 0, 1, 0, 0])

In [24]:
X_test.shape

(30, 4)

In [25]:
predictions

array([-0.11036652,  0.18243439, -0.09071904, -0.12092471,  1.70261091,
       -0.08382498,  1.37266216, -0.06223479,  1.76314732,  0.09322412,
       -0.09128228,  1.73587333,  1.56595723,  0.10027212,  1.41336546,
       -0.01341473,  1.17901112,  1.51293186,  1.00107165,  1.64078445,
        1.58268946,  2.22232529,  1.27870259,  0.04156578, -0.00855677,
       -0.04113087, -0.0677041 ,  1.08772786, -0.04869683, -0.02082392])

In [26]:
for i in range(len(predictions)):
    if predictions[i] < 0.5:
        predictions[i] = 0
    elif predictions[i] < 0.7:
        predictions[i] = 1
    else:
        predictions[i] = 2

In [27]:
predictions

array([ 0.,  0.,  0.,  0.,  2.,  0.,  2.,  0.,  2.,  0.,  0.,  2.,  2.,
        0.,  2.,  0.,  2.,  2.,  2.,  2.,  2.,  2.,  2.,  0.,  0.,  0.,
        0.,  2.,  0.,  0.])

In [28]:
print(predictions)

[ 0.  0.  0.  0.  2.  0.  2.  0.  2.  0.  0.  2.  2.  0.  2.  0.  2.  2.
  2.  2.  2.  2.  2.  0.  0.  0.  0.  2.  0.  0.]

In [29]:
tot = len(predictions)
correct = 0
for i in range(len(predictions)):
    if predictions[i] == Y_test[i]:
        correct += 1

In [30]:
print((correct/tot)*100)

83.33333333333334

In [31]:
from sklearn.metrics import classification_report

In [32]:
x = classification_report(Y_test , predictions , target_names = iris.target_names)

/home/rattandeep/anaconda/lib/python3.6/site-packages/sklearn/metrics/classification.py:1135: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)

In [33]:
x

'             precision    recall  f1-score   support\n\n     setosa       1.00      1.00      1.00        16\n versicolor       0.00      0.00      0.00         5\n  virginica       0.64      1.00      0.78         9\n\navg / total       0.73      0.83      0.77        30\n'

In [34]:
clf.intercept_

0.2304474106572616